$grey-dark-1: #333;
$grey-dark-2:#777;
$grey-dark-3:#999;

$grey-light-1: #faf9f9;
$grey-light-2: #f4f2f2;
$grey-light-3: #f0eeee;
$grey-light-4: #ccc;

$grid-width:114rem;
$gutter-veritcal:8rem;
$gutter-horizontal:6rem;