.contact{
     padding:10rem 0rem;

    &__form{      
        
        &--label{
            font-weight: 500;
            font-size: 2rem;
            text-align: center;
            color: $grey-dark-1;
        }
        &--input{
            border-radius: none;
            background-image:url("../img/arrowright.png");
            background-size: 1rem 1.5rem;
            background-repeat: no-repeat;
            background-position: 98%;
            border-bottom: .1rem solid rgba(0,0,0,.2);
            height:2.5rem;
            outline: none;
            padding: 2rem;
            border: .1rem solid rgba(0,0,0,.4);
            width:60%;
            @include transition;
            &:focus{
                border: .1rem solid rgba(red,.4);
                width: 100%;
            }
            &::placeholder{
                font-family: "Lato";
                font-size: 1.2rem;
            }

            @include Responsive(phone){
                width:100%;
                margin:0 auto;
                margin-top:2rem;
            }
        }

    }
}