.media{
    margin-top: 5rem;    
    &__item{
       text-align: center;     
       
        @include Responsive(phone){
            margin-top: 1rem;
            padding:0rem 3rem;            
        }
        &--icon{
            width:3.5rem;
            height:4rem;  
            fill:rgb(238, 82, 82);       
            display: inline-block;    
        }
        &--header{
            font-size:1.8rem;
            margin: 1rem 0rem;
            font-weight: 600;
            font-family: "Open Sans";
        }
        &--text{
            color: $grey-dark-2;
            font-weight: 100;
            font-family: "Varela";
            font-size: 1.4rem;
            padding:0rem 1rem;
            @include Responsive(phone){               
                padding-bottom: 1rem;
                border-bottom: .1rem solid $grey-light-2;
            }
        }
    }    
    
}