.review{
    background-color: #f0f0f0;
    padding:3rem 0rem;
    padding-bottom: 10rem;    
    margin: 0 auto;
    text-align: center;
   
    &__header{
        text-align: center;
        font-size: 2.2rem;
        font-family:"Raleway";
        margin: 2rem 0rem;

        .fa-star{
            color: #fff;
            display: inline-block;
            background: green;
            font-size: 2rem;
            padding:.5rem;
        }       
    }
    &__content{
        padding-top:5rem;
        text-align: center;
        background-color: #fff;
        box-shadow: .3rem .2rem .3rem rgba(0,0,0,.1);
        border-radius: .1rem;
        
        &--avatar{
            height:12rem;
            width:12rem;
             border-radius: 50%;  
             @include transition;
             &:hover{
                 border-radius: 20%;
                transform: scale(1.2);
             }
        }
        &--description{
            min-height: 20rem;
            width: 80%;
            margin: 0 auto;           
            padding: 3rem 0rem;
            font-family: "Verala";
            font-size: 1.7rem;
            font-weight: 100;
            text-align: justify;
            color: $grey-dark-2;

            .userinfo h3{
                font-weight: 600;
                font-size:1.8rem;
                text-align: center;
                margin-top: 1.5rem;
                color: green;
            }
        }
        
    }
}