.sample{    
    margin-top: 10rem;
    background-image: linear-gradient(to right, rgba(red,.4), rgba(red,.2)),url("../img/winecover.jpg");
    height: 30rem;
    background-position: top;
    background-size: cover;
}